<footer class="page-footer bg-light">
    {% block footer %}
        <div class="container-fluid text-center bg-secondary text-white">{{ 'info.footer'|trans }}</div>
        {#<div class="footer-copyright text-center bg-secondary">#}
            {#{{ 'info.copyright'|trans }}#}
        {#</div>#}
    {% endblock %}
</footer>