<footer class="page-footer bg-dark">
    {% block footer_content %}
        <div class="container-fluid text-center text-white">
            {{ 'info.footer'|trans }}
            <a class="ml-3 text-info" href="{{ path('static',{'title': 'about_website'}) }}">{{ 'message.more_info_about_website'|trans }}</a>
        </div>
    {% endblock %}
</footer>