<aside class="d-none d-md-block social mb-3">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-users"></i> {{ 'title.social'|trans }}
            </h3>
        </div>
        <div class="card-body">
            <ul class="list-unstyled">
                <li>
                    <a href="https://web.facebook.com/CitizensofDalaran.wow/" class="btn btn-lg btn-block btn-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="fab fa-facebook fa-2x" title="facebook" ></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>